# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv('weather.csv')
weather_df

,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity
0,1637973176,-76.2167,-13.7000,Pisco,PE,66.25,0,13.80,82
1,1637973176,147.0587,-42.7826,New Norfolk,AU,58.50,88,2.51,40
2,1637973177,-102.2000,17.9583,Lázaro Cárdenas,MX,78.44,40,3.47,77
3,1637973177,-133.0374,69.4541,Tuktoyaktuk,CA,-2.20,90,21.85,84
4,1637973177,-70.9167,-53.1500,Punta Arenas,CL,48.31,75,19.57,66
...,...,...,...,...,...,...,...,...,...
574,1637973307,105.2942,27.3125,Bijie,CN,42.66,100,1.25,81
575,1637973458,103.5333,-3.8000,Lahat,ID,76.15,99,1.57,93
576,1637973458,71.7622,21.0914,Mahuva,IN,75.24,93,5.97,46
577,1637973459,-80.5887,28.0345,Palm Bay,US,68.63,90,4.61,68
578,1637973459,-70.1733,1.1983,Mitú,CO,76.82,100,2.46,83

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
humidity = weather_df["% Humidity"]
places = weather_df[["Latitude", "Longitude"]]
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(places, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather = weather_df.loc[weather_df['Wind Speed'] < 15]
ideal_weather = ideal_weather.loc[(ideal_weather['Temperature'] > 50) & (ideal_weather['Temperature']< 80)]
ideal_weather = ideal_weather.loc[ideal_weather['% Cloudiness'] <50]
ideal_weather = ideal_weather.loc[ideal_weather['% Humidity'] <50]
hotel_df = ideal_weather.reset_index()
hotel_df

,index,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity
0,51,1637973116,-113.5841,37.1041,Saint George,US,55.99,1,0.00,16
1,87,1637973214,44.9661,34.6959,Kifrī,IQ,61.88,0,6.82,39
2,93,1637973217,46.7219,24.6877,Riyadh,SA,62.74,0,2.62,39
3,96,1637973218,40.2064,29.9697,Sakakah,SA,56.77,6,3.94,48
4,131,1637973233,37.2685,25.0213,Umluj,SA,77.38,10,8.97,45
5,154,1637973243,24.6667,14.2000,Kutum,SD,60.03,5,7.65,21
6,177,1637973255,46.4667,14.4000,Marzuq,YE,66.29,0,2.73,48
7,218,1637972750,-100.3510,44.3683,Pierre,US,50.92,1,5.75,46
8,236,1637973285,-121.6555,36.6777,Salinas,US,65.43,1,12.66,46
9,251,1637973290,-120.7516,37.1666,Merced,US,63.03,3,4.07,42
10,259,1637973293,54.0924,17.0151,Salalah,OM,73.49,0,3.44,46
11,283,1637973305,8.5167,12.0001,Kano,NG,72.72,10,8.43,14
12,303,1637973314,-115.9500,30.4833,San Quintín,MX,65.97,0,1.45,42
13,307,1637973316,81.5167,24.5167,Gurh,IN,56.98,0,2.37,44
14,341,1637973002,-123.2078,39.1502,Ukiah,US,64.29,1,0.00,42
15,344,1637973333,1.0114,20.1986,Tessalit,ML,74.86,10,7.74,32
16,346,1637973334,-113.0619,37.6775,Cedar City,US,50.97,1,3.44,17
17,365,1637973343,-3.0000,9.2667,Bouna,CI,78.82,11,4.34,36
18,373,1637973346,130.9889,-25.2406,Yulara,AU,73.24,0,13.80,35
19,377,1637973348,70.9116,29.3846,Alipur,PK,64.58,0,3.38,23
20,383,1637973351,80.3833,22.6000,Mandlā,IN,55.60,1,3.27,42
21,401,1637973359,64.4101,28.8947,Dalbandin,PK,51.21,0,6.69,44
22,403,1637973359,21.2561,-28.4478,Upington,ZA,68.38,0,8.05,37
23,404,1637973360,-58.5172,-33.0094,Gualeguaychú,AR,68.02,0,8.30,49
24,409,1637973362,80.7167,25.5500,Baberu,IN,60.19,0,4.65,46
25,410,1637973362,82.5500,23.2500,Baikunthpur,IN,53.92,0,2.91,45
26,420,1637973367,11.0482,12.8710,Gashua,NG,72.01,5,10.09,13
27,439,1637973378,-121.4238,38.4210,Laguna,US,61.90,1,5.75,41
28,440,1637973379,-118.7774,39.4735,Fallon,US,53.47,40,6.91,20
29,444,1637973380,74.3833,29.2833,Rāwatsār,IN,62.92,0,7.29,34
30,462,1637973394,145.5167,-37.6500,Healesville,AU,64.29,4,6.85,36
31,485,1637973406,12.0333,9.4667,Numan,NG,73.71,13,1.28,22
32,488,1637973407,30.7792,28.4190,Maţāy,EG,63.34,0,5.57,45
33,495,1637973411,-106.5436,34.8014,Meadow Lake,US,51.08,11,1.63,39
34,526,1637973429,-3.9836,22.6783,Taoudenni,ML,79.02,49,8.68,31
35,537,1637973435,12.9164,18.6853,Bilma,NE,74.05,6,7.78,17
36,544,1637973439,-0.1436,12.9714,Bogandé,BF,78.93,9,9.10,20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df['Hotel Name'] = ""
hotel_df

,index,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity,Hotel Name
0,51,1637973116,-113.5841,37.1041,Saint George,US,55.99,1,0.00,16,
1,87,1637973214,44.9661,34.6959,Kifrī,IQ,61.88,0,6.82,39,
2,93,1637973217,46.7219,24.6877,Riyadh,SA,62.74,0,2.62,39,
3,96,1637973218,40.2064,29.9697,Sakakah,SA,56.77,6,3.94,48,
4,131,1637973233,37.2685,25.0213,Umluj,SA,77.38,10,8.97,45,
5,154,1637973243,24.6667,14.2000,Kutum,SD,60.03,5,7.65,21,
6,177,1637973255,46.4667,14.4000,Marzuq,YE,66.29,0,2.73,48,
7,218,1637972750,-100.3510,44.3683,Pierre,US,50.92,1,5.75,46,
8,236,1637973285,-121.6555,36.6777,Salinas,US,65.43,1,12.66,46,
9,251,1637973290,-120.7516,37.1666,Merced,US,63.03,3,4.07,42,
10,259,1637973293,54.0924,17.0151,Salalah,OM,73.49,0,3.44,46,
11,283,1637973305,8.5167,12.0001,Kano,NG,72.72,10,8.43,14,
12,303,1637973314,-115.9500,30.4833,San Quintín,MX,65.97,0,1.45,42,
13,307,1637973316,81.5167,24.5167,Gurh,IN,56.98,0,2.37,44,
14,341,1637973002,-123.2078,39.1502,Ukiah,US,64.29,1,0.00,42,
15,344,1637973333,1.0114,20.1986,Tessalit,ML,74.86,10,7.74,32,
16,346,1637973334,-113.0619,37.6775,Cedar City,US,50.97,1,3.44,17,
17,365,1637973343,-3.0000,9.2667,Bouna,CI,78.82,11,4.34,36,
18,373,1637973346,130.9889,-25.2406,Yulara,AU,73.24,0,13.80,35,
19,377,1637973348,70.9116,29.3846,Alipur,PK,64.58,0,3.38,23,
20,383,1637973351,80.3833,22.6000,Mandlā,IN,55.60,1,3.27,42,
21,401,1637973359,64.4101,28.8947,Dalbandin,PK,51.21,0,6.69,44,
22,403,1637973359,21.2561,-28.4478,Upington,ZA,68.38,0,8.05,37,
23,404,1637973360,-58.5172,-33.0094,Gualeguaychú,AR,68.02,0,8.30,49,
24,409,1637973362,80.7167,25.5500,Baberu,IN,60.19,0,4.65,46,
25,410,1637973362,82.5500,23.2500,Baikunthpur,IN,53.92,0,2.91,45,
26,420,1637973367,11.0482,12.8710,Gashua,NG,72.01,5,10.09,13,
27,439,1637973378,-121.4238,38.4210,Laguna,US,61.90,1,5.75,41,
28,440,1637973379,-118.7774,39.4735,Fallon,US,53.47,40,6.91,20,
29,444,1637973380,74.3833,29.2833,Rāwatsār,IN,62.92,0,7.29,34,
30,462,1637973394,145.5167,-37.6500,Healesville,AU,64.29,4,6.85,36,
31,485,1637973406,12.0333,9.4667,Numan,NG,73.71,13,1.28,22,
32,488,1637973407,30.7792,28.4190,Maţāy,EG,63.34,0,5.57,45,
33,495,1637973411,-106.5436,34.8014,Meadow Lake,US,51.08,11,1.63,39,
34,526,1637973429,-3.9836,22.6783,Taoudenni,ML,79.02,49,8.68,31,
35,537,1637973435,12.9164,18.6853,Bilma,NE,74.05,6,7.78,17,
36,544,1637973439,-0.1436,12.9714,Bogandé,BF,78.93,9,9.10,20,

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    lat=row["Longitude"]
    lon=row["Latitude"]

    # add keyword to params dict
    params['location'] = f'{lat}, {lon}'

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
     
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Saint George.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: Kifrī.
------------
Retrieving Results for Index 2: Riyadh.
------------
Retrieving Results for Index 3: Sakakah.
------------
Retrieving Results for Index 4: Umluj.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: Kutum.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: Marzuq.
------------
Retrieving Results for Index 7: Pierre.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: Salinas.
Missing field/result... skipping.
------------
Retrieving Results for Index 9: Merced.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: Salalah.
------------
Retrieving Results for Index 11: Kano.
Missing field/result... skipping.
------------
Retrieving Results for Index 12: San Quintín.
Missing field/result... skipping.
------------
Retrieving Results for Index 13: Gurh.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: Ukiah.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: Tessalit.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: Cedar City.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: Bouna.
Missing field/result... skipping.
------------
Retrieving Results for Index 18: Yulara.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: Alipur.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: Mandlā.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: Dalbandin.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: Upington.
Missing field/result... skipping.
------------
Retrieving Results for Index 23: Gualeguaychú.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: Baberu.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: Baikunthpur.
Missing field/result... skipping.
------------
Retrieving Results for Index 26: Gashua.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: Laguna.
Missing field/result... skipping.
------------
Retrieving Results for Index 28: Fallon.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: Rāwatsār.
Missing field/result... skipping.
------------
Retrieving Results for Index 30: Healesville.
Missing field/result... skipping.
------------
Retrieving Results for Index 31: Numan.
------------
Retrieving Results for Index 32: Maţāy.
Missing field/result... skipping.
------------
Retrieving Results for Index 33: Meadow Lake.
Missing field/result... skipping.
------------
Retrieving Results for Index 34: Taoudenni.
Missing field/result... skipping.
------------
Retrieving Results for Index 35: Bilma.
Missing field/result... skipping.
------------
Retrieving Results for Index 36: Bogandé.
Missing field/result... skipping.
------------

In [8]:
hotel_df

,index,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity,Hotel Name
0,51,1637973116,-113.5841,37.1041,Saint George,US,55.99,1,0.00,16,
1,87,1637973214,44.9661,34.6959,Kifrī,IQ,61.88,0,6.82,39,"гостиница Ход-Конем ""Village"""
2,93,1637973217,46.7219,24.6877,Riyadh,SA,62.74,0,2.62,39,Hotel Monte Carlo
3,96,1637973218,40.2064,29.9697,Sakakah,SA,56.77,6,3.94,48,Hakanlar A.P
4,131,1637973233,37.2685,25.0213,Umluj,SA,77.38,10,8.97,45,
5,154,1637973243,24.6667,14.2000,Kutum,SD,60.03,5,7.65,21,
6,177,1637973255,46.4667,14.4000,Marzuq,YE,66.29,0,2.73,48,Gasthaus Terklbauer
7,218,1637972750,-100.3510,44.3683,Pierre,US,50.92,1,5.75,46,
8,236,1637973285,-121.6555,36.6777,Salinas,US,65.43,1,12.66,46,
9,251,1637973290,-120.7516,37.1666,Merced,US,63.03,3,4.07,42,
10,259,1637973293,54.0924,17.0151,Salalah,OM,73.49,0,3.44,46,Przepiórcza Farma
11,283,1637973305,8.5167,12.0001,Kano,NG,72.72,10,8.43,14,
12,303,1637973314,-115.9500,30.4833,San Quintín,MX,65.97,0,1.45,42,
13,307,1637973316,81.5167,24.5167,Gurh,IN,56.98,0,2.37,44,
14,341,1637973002,-123.2078,39.1502,Ukiah,US,64.29,1,0.00,42,
15,344,1637973333,1.0114,20.1986,Tessalit,ML,74.86,10,7.74,32,
16,346,1637973334,-113.0619,37.6775,Cedar City,US,50.97,1,3.44,17,
17,365,1637973343,-3.0000,9.2667,Bouna,CI,78.82,11,4.34,36,
18,373,1637973346,130.9889,-25.2406,Yulara,AU,73.24,0,13.80,35,
19,377,1637973348,70.9116,29.3846,Alipur,PK,64.58,0,3.38,23,
20,383,1637973351,80.3833,22.6000,Mandlā,IN,55.60,1,3.27,42,
21,401,1637973359,64.4101,28.8947,Dalbandin,PK,51.21,0,6.69,44,
22,403,1637973359,21.2561,-28.4478,Upington,ZA,68.38,0,8.05,37,
23,404,1637973360,-58.5172,-33.0094,Gualeguaychú,AR,68.02,0,8.30,49,
24,409,1637973362,80.7167,25.5500,Baberu,IN,60.19,0,4.65,46,
25,410,1637973362,82.5500,23.2500,Baikunthpur,IN,53.92,0,2.91,45,
26,420,1637973367,11.0482,12.8710,Gashua,NG,72.01,5,10.09,13,
27,439,1637973378,-121.4238,38.4210,Laguna,US,61.90,1,5.75,41,
28,440,1637973379,-118.7774,39.4735,Fallon,US,53.47,40,6.91,20,
29,444,1637973380,74.3833,29.2833,Rāwatsār,IN,62.92,0,7.29,34,
30,462,1637973394,145.5167,-37.6500,Healesville,AU,64.29,4,6.85,36,
31,485,1637973406,12.0333,9.4667,Numan,NG,73.71,13,1.28,22,Lukman farmer
32,488,1637973407,30.7792,28.4190,Maţāy,EG,63.34,0,5.57,45,
33,495,1637973411,-106.5436,34.8014,Meadow Lake,US,51.08,11,1.63,39,
34,526,1637973429,-3.9836,22.6783,Taoudenni,ML,79.02,49,8.68,31,
35,537,1637973435,12.9164,18.6853,Bilma,NE,74.05,6,7.78,17,
36,544,1637973439,-0.1436,12.9714,Bogandé,BF,78.93,9,9.10,20,

In [9]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,index,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity,Hotel Name
0,51,1637973116,-113.5841,37.1041,Saint George,US,55.99,1,0.00,16,NaN
1,87,1637973214,44.9661,34.6959,Kifrī,IQ,61.88,0,6.82,39,"гостиница Ход-Конем ""Village"""
2,93,1637973217,46.7219,24.6877,Riyadh,SA,62.74,0,2.62,39,Hotel Monte Carlo
3,96,1637973218,40.2064,29.9697,Sakakah,SA,56.77,6,3.94,48,Hakanlar A.P
4,131,1637973233,37.2685,25.0213,Umluj,SA,77.38,10,8.97,45,NaN
5,154,1637973243,24.6667,14.2000,Kutum,SD,60.03,5,7.65,21,NaN
6,177,1637973255,46.4667,14.4000,Marzuq,YE,66.29,0,2.73,48,Gasthaus Terklbauer
7,218,1637972750,-100.3510,44.3683,Pierre,US,50.92,1,5.75,46,NaN
8,236,1637973285,-121.6555,36.6777,Salinas,US,65.43,1,12.66,46,NaN
9,251,1637973290,-120.7516,37.1666,Merced,US,63.03,3,4.07,42,NaN
10,259,1637973293,54.0924,17.0151,Salalah,OM,73.49,0,3.44,46,Przepiórcza Farma
11,283,1637973305,8.5167,12.0001,Kano,NG,72.72,10,8.43,14,NaN
12,303,1637973314,-115.9500,30.4833,San Quintín,MX,65.97,0,1.45,42,NaN
13,307,1637973316,81.5167,24.5167,Gurh,IN,56.98,0,2.37,44,NaN
14,341,1637973002,-123.2078,39.1502,Ukiah,US,64.29,1,0.00,42,NaN
15,344,1637973333,1.0114,20.1986,Tessalit,ML,74.86,10,7.74,32,NaN
16,346,1637973334,-113.0619,37.6775,Cedar City,US,50.97,1,3.44,17,NaN
17,365,1637973343,-3.0000,9.2667,Bouna,CI,78.82,11,4.34,36,NaN
18,373,1637973346,130.9889,-25.2406,Yulara,AU,73.24,0,13.80,35,NaN
19,377,1637973348,70.9116,29.3846,Alipur,PK,64.58,0,3.38,23,NaN
20,383,1637973351,80.3833,22.6000,Mandlā,IN,55.60,1,3.27,42,NaN
21,401,1637973359,64.4101,28.8947,Dalbandin,PK,51.21,0,6.69,44,NaN
22,403,1637973359,21.2561,-28.4478,Upington,ZA,68.38,0,8.05,37,NaN
23,404,1637973360,-58.5172,-33.0094,Gualeguaychú,AR,68.02,0,8.30,49,NaN
24,409,1637973362,80.7167,25.5500,Baberu,IN,60.19,0,4.65,46,NaN
25,410,1637973362,82.5500,23.2500,Baikunthpur,IN,53.92,0,2.91,45,NaN
26,420,1637973367,11.0482,12.8710,Gashua,NG,72.01,5,10.09,13,NaN
27,439,1637973378,-121.4238,38.4210,Laguna,US,61.90,1,5.75,41,NaN
28,440,1637973379,-118.7774,39.4735,Fallon,US,53.47,40,6.91,20,NaN
29,444,1637973380,74.3833,29.2833,Rāwatsār,IN,62.92,0,7.29,34,NaN
30,462,1637973394,145.5167,-37.6500,Healesville,AU,64.29,4,6.85,36,NaN
31,485,1637973406,12.0333,9.4667,Numan,NG,73.71,13,1.28,22,Lukman farmer
32,488,1637973407,30.7792,28.4190,Maţāy,EG,63.34,0,5.57,45,NaN
33,495,1637973411,-106.5436,34.8014,Meadow Lake,US,51.08,11,1.63,39,NaN
34,526,1637973429,-3.9836,22.6783,Taoudenni,ML,79.02,49,8.68,31,NaN
35,537,1637973435,12.9164,18.6853,Bilma,NE,74.05,6,7.78,17,NaN
36,544,1637973439,-0.1436,12.9714,Bogandé,BF,78.93,9,9.10,20,NaN

In [10]:
hotel_df = hotel_df.dropna()
hotel_df

,index,Date,Longitude,Latitude,City,Country,Temperature,% Cloudiness,Wind Speed,% Humidity,Hotel Name
1,87,1637973214,44.9661,34.6959,Kifrī,IQ,61.88,0,6.82,39,"гостиница Ход-Конем ""Village"""
2,93,1637973217,46.7219,24.6877,Riyadh,SA,62.74,0,2.62,39,Hotel Monte Carlo
3,96,1637973218,40.2064,29.9697,Sakakah,SA,56.77,6,3.94,48,Hakanlar A.P
6,177,1637973255,46.4667,14.4000,Marzuq,YE,66.29,0,2.73,48,Gasthaus Terklbauer
10,259,1637973293,54.0924,17.0151,Salalah,OM,73.49,0,3.44,46,Przepiórcza Farma
31,485,1637973406,12.0333,9.4667,Numan,NG,73.71,13,1.28,22,Lukman farmer

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Add marker layer ontop of heat map
humidity = weather_df["% Humidity"]



fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(places, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5)

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))